*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: nav;
    background-color: #25527B;
    color: white;
}
nav > h1{
    text-align: center;
}
aside{
    grid-area: aside;
    text-align: center;
}

aside > p > span{
    color: grey;
}
main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;

}
.producto{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    width: 30%;
    border: solid 2px black;
}
.producto > img{
    width: 50%;
}
.producto > button{
    height: 40px;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: #25527B;
}
footer{
    grid-area: footer;
    align-content: center;
}
footer > h2{
    text-align: center;
}
body{
    gap: 2em;
    display: grid;
    grid-template-areas: 
    'nav nav'
    'aside main'
    'footer footer'
    ;
    grid-template-rows: 5% 100% 5%;
}